MONGO_URI=mongodb://jury_user:Password123@ac-atwjwfz-shard-00-00.57tipfm.mongodb.net:27017,ac-atwjwfz-shard-00-01.57tipfm.mongodb.net:27017,ac-atwjwfz-shard-00-02.57tipfm.mongodb.net:27017/monvieuxgrimoire?ssl=true&replicaSet=atlas-123qav-shard-0&authSource=admin&appName=ClusterProjet6
PORT=5000
JWT_SECRET=YOUR_SECRET_HERE
BCRYPT_SALT=10
